legend{
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}
#label_scores{
    padding-top: 20px;
}
#color_row{
    margin-top: 40px;
}
#addLuckydrawBorder{
    width: 50%;
    margin-top: 50px;
    padding: 20px 10px 10px 10px;
    border: 2px solid green;
    border-radius: 50px;
}
#btnSave{
    height: 40px;
    width: 100px;
    margin-top: 30px;
    border: 1px solid rgb(21, 26, 21);
    border-radius: 30px;
    background-color: #87ca49;
}
#btnCancel{
    height: 40px;
    width: 100px;
    color : black;
    margin-top: 30px;
    background-color: #87ca49;
    border: 1px solid rgb(21, 26, 21);
    border-radius: 30px;
    float: right;
    margin-left: 50px;
    padding-top: 8px;
    margin-bottom: 10px;
}

